@use "../../Styles/colors" as c;
@use "../../Styles/mixins" as m;
@import "../../Styles/fonts";

.problems-header {
  margin-bottom: 40px;
}

.filter-badge {
  height: 100%;
  position: relative;

  .filter-btns {
    display: flex;
    align-items: center;

    .filter-btn {
      font-family: "Open-Sans-Semibold", sans-serif;
      font-size: 14px;
      color: c.$text-color;
      padding: 10px;
      border-radius: 8px;
      background-color: #ffffff;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.3s ease-in;
      position: relative;
      overflow: hidden;
      @include m.statics-shadow();

      &:not(:last-child) {
        margin-right: 20px;
      }

      &:hover {
        background-color: rgba(#111111, 0.1);
      }

      &:disabled {
        &:after {
          content: "";
          width: 100%;
          height: 100%;
          background-color: rgba(#111111, 0.3);
          position: absolute;
          left: 0;
        }
      }

      .filter-btn-icon {
        transition: 0.3s ease;
        display: inline-block;
        margin-left: 10px;
        font-size: 16px;
      }
    }

    .clicked-filter-btn {
      @include m.menu-shadow();
      background-color: rgba(#111111, 0.1);

      .filter-btn-icon {
        transform: rotate(180deg);
      }
    }
  }

  .dropdown {
    .dropdown-menu {
      min-width: 100%;
      padding: 10px;
      background-color: #ffffff;
      border-radius: 8px;
      border: none;
      @include m.menu-shadow();
      overflow: hidden;
      inset: inherit !important;
      transform: translate(0, 10px) !important;

      .filter-btn-item,
      .dropdown-item {
        border-radius: 8px;
        padding: 5px 10px;
        transition: 0.2s ease;
        border: none;
        font-family: "Open-Sans", sans-serif;
        font-size: 14px;
        margin-bottom: 5px;

        &:hover,
        &:focus {
          background-color: c.$filter-bg-color;
        }

        &:focus-visible {
          outline: none;
        }

        &:active {
          background-color: c.$star-disabled-color;
          color: inherit;
        }
      }

      .default {
        color: c.$secondary-color;
      }

      .status-easy {
        color: c.$icon-bg-color;
      }

      .status-medium {
        color: c.$text-color-green;
      }

      .status-hard {
        color: c.$notification-color;
      }

      .difficulty-easy {
        color: c.$text-color-green;
      }

      .difficulty-medium {
        color: c.$star-active-color;
      }

      .difficulty-hard {
        color: c.$problem-status-color-hard;
      }

      .active-item {
        background-color: c.$filter-bg-color;
      }

      .input-group {
        box-shadow: none !important;

        &:focus-within {
          box-shadow: none !important;
        }

        .input-group-text {
          background-color: c.$filter-bg-color !important;
          color: c.$secondary-color !important;
        }

        .search-box {
          font-family: "Open-Sans", sans-serif !important;
          background-color: c.$filter-bg-color !important;
        }
      }
    }
  }

  .tags-dropdown {
    .dropdown-menu {
      min-width: 325%;
      transform: translate(-75%, 10px) !important;
    }
  }
}
