$bg-color: #f8f9fa;
$icon-bg-color: #623CE7;
$text-color: #67748e;
$text-color-bold: #252f40;
$border-color: #c2c9d1;
$secondary-color: #979797;
$text-color-green: #82d616;
$notification-color: #ff0000;
$star-active-color: #ffd01d;
$star-disabled-color: #e4e7e7;
$badge-disabled-color: #cdcfcf;
$problem-status-color-hard: #bf392c;
$filter-bg-color: #f5f5f5;
$cards-bg-color: linear-gradient(99.66deg, #ffd01d 0%, #ef5734 167.59%);
$login-border-color: #e6e9fa;
