@font-face {
  font-family: "Open-Sans";
  src: url(../Fonts/OpenSans-Regular.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Open-Sans-Semibold";
  src: url(../Fonts/OpenSans-SemiBold.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Open-Sans-Semibold-Italic";
  src: url(../Fonts/OpenSans-SemiBoldItalic.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Open-Sans-Bold";
  src: url(../Fonts/OpenSans-Bold.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Open-Sans-Medium";
  src: url(../Fonts/OpenSans-Medium.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Open-Sans-Light";
  src: url(../Fonts/OpenSans-Light.ttf) format("truetype");
  font-display: swap;
}
