@mixin menu-shadow {
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.05);
}
@mixin icon-shadow {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.12),
    0px 2px 4px -1px rgba(0, 0, 0, 0.07);
}
@mixin statics-shadow {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
